Repository pescaito-team/pescaito-hub, pull requests merged in 2024-12, with the labels that each got.

#19 feat(workflows): Se han añadido varias workflows
  .github/workflows/deloyment_on_webhook.yml
  .github/workflows/deployment_on_dockerhub.yml
  .github/workflows/pull_request.yml
  .github/workflows/tests.yml
Labels: enhancement, high priority, M3, pull request, workflow

#20 feat(dataset): Se ha realizado el WI de ratedataset
  .moduleignore
  app/modules/dataset/models.py
  app/modules/dataset/repositories.py
  app/modules/dataset/routes.py
  app/modules/dataset/services.py
  app/modules/dataset/templates/dataset/view_dataset.html
  app/modules/dataset/tests/unity_test.py
Labels: enhancement, code, medium task, feature, M3, low priority

#22 feat(advanced-filtering): Tests y funcionalidad del WorkItem
  app/modules/explore/assets/scripts.js
  app/modules/explore/templates/explore/index.html
  app/modules/explore/tests/test_selenium.py
Labels: enhancement, code, high task, feature, high priority, M3, test, pull request

#21 feat(dataset): Se ha realizado el WI de builddataset
  .gitignore
  app/modules/auth/models.py
  app/modules/dataset/routes.py
  app/modules/dataset/services.py
  app/modules/dataset/templates/dataset/dataset_created.html
  app/modules/dataset/templates/dataset/list_datasets.html
  app/modules/dataset/templates/dataset/select_models.html
  app/modules/dataset/templates/dataset/view_cart.html
  app/modules/dataset/templates/dataset/view_dataset.html
  app/modules/dataset/tests/test_selenium.py
  app/modules/dataset/tests/test_unit.py
  app/modules/dataset/tests/tests_selenium/test_create_dataset_correct.py
  app/modules/dataset/tests/tests_selenium/test_create_dataset_empty.py
  app/modules/featuremodel/routes.py
  app/modules/featuremodel/services.py
  app/modules/hubfile/models.py
  app/modules/hubfile/services.py
Labels: enhancement, code, medium task, feature, M3, low priority, pull request

#26 feat(search): Implementado WI de búsqueda avanzada
  app/modules/explore/repositories.py
  app/modules/explore/tests/test_selenium_query.py
Labels: high task, high priority, M3, pull request

#30 feat(password): Se han añadido tests y configuración
  app/modules/auth/forms.py
  app/modules/auth/repositories.py
  app/modules/auth/routes.py
  app/modules/auth/templates/auth/recover_password_form.html
  app/modules/auth/templates/auth/reset_password.html
  app/modules/auth/templates/auth/reset_password_static.html
  app/modules/auth/tests/locustfile.py
  app/modules/auth/tests/test_unit.py
  app/templates/base_template.html
  requirements.txt
Labels: enhancement, code, low task, M3, test, medium priority

#29 feat(dataset): Se ha mejorado el WI de rateDataset
  app/modules/dataset/routes.py
  app/modules/dataset/services.py
  app/modules/dataset/tests/locustfile.py
  app/modules/dataset/tests/unity_test.py
  app/modules/public/templates/public/index.html
Labels: enhancement, code, M3, test, pull request, medium priority

#41 fix(workflows): Arreglo en el lint, commits y render
  .github/workflows/commits.yml
  .github/workflows/lint.yml
  .github/workflows/release-with-changelog.yml
  .github/workflows/render.yml
Labels: bug, enhancement, code, feature, high priority, M3, pull request, workflow

#44 feat(docker): Implementación de Docker para el proyecto
  docker/docker-compose.dev.yml
  docker/images/Dockerfile.dev
Labels: code, M3, pull request, medium priority

#45 feat(workflows): Añadido workflow para construir y subir la imagen de Docker
  .github/workflows/deploy-to-docker.yml
  .github/workflows/release-with-changelog.yml
Labels: code, M3, pull request, workflow, medium priority

#47 fix(ratedataset): cambio de test y de pantalla
  app/modules/dataset/routes.py
  app/modules/dataset/tests/unity_test.py
Labels: code, feature, high priority, M3, test

#48 feat(fakenodo): añadir funcionalidad de fakenodo WI
  Deposition_20241214114431_a76aaa85.json
  Deposition_20241214123734_23a8f175.json
  README.md
  app/modules/dataset/repositories.py
  app/modules/dataset/routes.py
  app/modules/dataset/services.py
  app/modules/dataset/templates/dataset/upload_dataset.html
  app/modules/dataset/templates/dataset/view_dataset.html
  app/modules/fakenodo/__init__.py
  app/modules/fakenodo/assets/scripts.js
  app/modules/fakenodo/forms.py
  app/modules/fakenodo/models.py
  app/modules/fakenodo/repositories.py
  app/modules/fakenodo/routes.py
  app/modules/fakenodo/seeders.py
  app/modules/fakenodo/services.py
  app/modules/fakenodo/templates/fakenodo/index.html
  app/modules/fakenodo/tests/__init__.py
  app/modules/fakenodo/tests/locustfile.py
  app/modules/fakenodo/tests/test_selenium.py
  app/modules/fakenodo/tests/test_unit.py
  docs/Acta Fundacional.md
  docs/Política de Commits.md
  docs/Política de Gestión de Issues.md
  docs/Política de Ramas.md
  metadata.json
Labels: code, feature, high priority, M3, pull request

#56 feat(version): release 2.1.0
  .github/workflows/deploy-to-docker.yml
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  .gitignore
  Deposition_20241214114431_a76aaa85.json
  Deposition_20241214123734_23a8f175.json
  app/modules/dashboard/__init__.py
  app/modules/dashboard/assets/scripts.js
  app/modules/dashboard/forms.py
  app/modules/dashboard/models.py
  app/modules/dashboard/repositories.py
  app/modules/dashboard/routes.py
  app/modules/dashboard/seeders.py
  app/modules/dashboard/services.py
  app/modules/dashboard/templates/dashboard.html
  app/modules/dashboard/templates/user_summary.html
  app/modules/dashboard/tests/__init__.py
  app/modules/dashboard/tests/tests_selenium/test_dashboard_login_graficas.py
  app/modules/dashboard/tests/tests_selenium/test_dashboard_nologin.py
  app/modules/dashboard/tests/tests_selenium/test_dashboard_user_summary.py
  app/modules/dataset/repositories.py
  app/modules/dataset/routes.py
  app/modules/dataset/services.py
  app/modules/dataset/templates/dataset/list_datasets.html
  app/modules/dataset/templates/dataset/upload_dataset.html
  app/modules/dataset/templates/dataset/view_dataset.html
  app/modules/fakenodo/__init__.py
  app/modules/fakenodo/assets/scripts.js
  app/modules/fakenodo/forms.py
  app/modules/fakenodo/models.py
  app/modules/fakenodo/repositories.py
  app/modules/fakenodo/routes.py
  app/modules/fakenodo/seeders.py
  app/modules/fakenodo/services.py
  app/modules/fakenodo/templates/fakenodo/index.html
  app/modules/fakenodo/tests/__init__.py
  app/modules/fakenodo/tests/locustfile.py
  app/modules/fakenodo/tests/test_selenium.py
  app/modules/fakenodo/tests/test_unit.py
  app/static/img/photos/pescaito-hub.png
  app/templates/base_template.html
  docs/docs/generated_docs/.keep
  docs/source/_static/koi.jpg
  docs/source/conf.py
  docs/source/index.rst
  docs/source/mejoras.rst
  docs/source/miembros.rst
  docs/source/milestones.rst
  metadata.json
  requirements.txt
Labels: enhancement, code, high priority, M3, test, pull request, workflow

#57 feat(version): release 2.1.1
  app/__init__.py
  app/modules/explore/services.py
  app/modules/explore/tests/locustfile.py
  app/modules/explore/tests/test_selenium_query.py
  app/modules/explore/tests/test_unit.py
Labels: bug, enhancement, high priority, M3, pull request, realease

#58 feat(version): release 2.2.0
  docker/images/Dockerfile.render
Labels: bug, enhancement, code, high priority, M3, pull request

#42 feat(view-user-profile): Test y funcionalidad del WI
  app/modules/dataset/models.py
  app/modules/dataset/services.py
  app/modules/dataset/templates/dataset/view_dataset.html
  app/modules/profile/routes.py
  app/modules/profile/services.py
  app/modules/profile/templates/profile/profile.html
  app/modules/profile/tests/test_selenium.py
  app/modules/profile/tests/test_unit.py
  app/templates/base_template.html
Labels: enhancement, code, low task, feature, M3, test

#62 feat(version): release 2.2.3
  .github/workflows/release-with-changelog.yml
  app/modules/auth/tests/test_selenium_ide/test_signup.py
  app/modules/dataset/templates/dataset/list_datasets.html
  app/modules/explore/tests/test_selenium.py
Labels: bug, code, high priority, M3, pull request, workflow, realease

#61 feat(vagrant): implementado de Workflow CD de vagrant
  .github/workflows/deployment_on_vagrant.yml
  vagrant/02_install_mariadb.yml
  vagrant/04_install_dependencies.yml
  vagrant/Vagrantfile
Labels: M3, pull request, workflow

#68 feat(ratedatasets): Añadido funcionalidad 6 estrellas
  app/modules/dataset/services.py
  app/modules/dataset/templates/dataset/view_dataset.html
  app/modules/dataset/tests/unity_test.py
Labels: enhancement, code, M3, low priority
